* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
    outline: 1px solid red;

    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

.item {
    background-color: pink;
    color: white;
    padding: 1em;
    width: 235px;
    text-align: center;
}

.item-4 {
    flex-grow: 1;
    background-color: purple;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    .item-4 {
        flex-grow: 0;
        background-color: pink;
    }
}
